
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cover {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 8px;
    padding-top: 40px;

}


.intro-info {
    display: flex;
    flex-direction: column;
    background-color: rgba(210, 208, 208, 0.227);
    border-radius: 4px;
    padding: 4px 6px 10px 6px;
    border: solid 1px rgb(200, 199, 197);
    box-sizing: border-box;
    line-height: 1.5;
}


.cover-image {
display: flex;

}

.customer-clothes {
width: 100%;
border-radius: 4px;
object-fit: cover;
}


button {
    width: 100px;
    margin-top: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    background-color: #fc9d06;
    border: solid 1px rgb(118, 109, 92);
    box-sizing: border-box;
    line-height: 1.5;
    cursor: pointer;

}